body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
}

h2 {
  text-align: center;
}

#log {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 10px;
  height: 70dvh;
  overflow-y: auto;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
}

#log p {
  width: 30%;
  margin: 5px 0;
  padding: 10px 8px;
  border-radius: 10px;
}

.user {
  margin-left: auto !important;
  background-color: #dff0d8;
  color: #333;
  text-align: center;
  border-radius: 10px 10px 0 10px !important;
}

.server {
  background-color: #d9edf7;
  color: #333;
  text-align: center;
  border-radius: 10px 10px 10px 0 !important;
}

.error {
  margin: 5px auto !important;
  width: 60% !important;
  background-color: #f2dede;
  color: #a94442;
  font-weight: bold;
  text-align: center;
}

input {
  padding: 5px;
  width: 100%;
}

button {
  padding: 5px 10px;
  margin-left: -1px;
  cursor: pointer;
}

#controls {
  background-color: white;
  display: flex;
}
